services:
  db:
    image: postgres:16
    container_name: qrmenu_postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: qr_menu_saas
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: qrmenu_backend
    restart: unless-stopped
    environment:
      NODE_ENV: development
      PORT: 5000
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: qr_menu_saas
      DB_USER: postgres
      DB_PASSWORD: postgres
      JWT_SECRET: mylocaldevsecret
    depends_on:
      - db
    ports:
      - "5000:5000"

  web-admin:
    build:
      context: ./web-admin
      dockerfile: Dockerfile
    container_name: qrmenu_webadmin
    restart: unless-stopped
    environment:
      VITE_API_URL: http://localhost:5000/api
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  postgres_data:
